*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --yellow: #ce6a72;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;

  --pink: #d93f87;
  --dark-purple: #351254;
  --dark-purple-100: #7628b9;
  --dark-purple-400: #351254;
  --dark-purple-800: #0d0514;
  --blue2: #44328d;
  --purple: #7652af;
  --cyan: #68d8d8;


  --background-color: #101111;
  --text-color: #7628b9;

  --verde-cardenal: #0C1A1A;
  --verde-azulado-claro: #6ACFC7;
  --verde-azulado-claro2: #c23ece46;

  --azul-intenso: #001233;
  --rojo-coral-claro: #FF595A;
  --beige: #CAC0B3;

  
  --neon-azul-claro: #55ffe2;
  --neon-azul-claro-alpha: #55ffe30e;
  --neon-azul-claro-alpha2: #55ffe35e;
  --neon-azul-claro-alpha3: #55ffe300;

  --neon-lila: #dd55ff;
  --neon-lila-alpha: #dd55ff10;
  --neon-lila-alpha2: #dd55ff85;

  --neon-rosa: #ff3b93;
  --neon-verde: #a7fd2a;
  --neon-morado: #37023a;
}

body {
  font-family: 'Jura', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 1000px;
  background-color: var(--verde-cardenal);
  background-image: url("./imgs/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  letter-spacing: 2px;
  line-height: 30px;

}

a {
  text-decoration: none;
  color: var(--verde-azulado-claro);
  &:hover{
    text-decoration: underline;
  }
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Jura', sans-serif;
  color: var(--neon-azul-claro);
  text-shadow: 0px 0px 5px var(--neon-azul-claro);
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;

  span {
    vertical-align: -17px;
  }
}


header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid var(--verde-azulado-claro);

  .logo-holder{
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    color: var(--neon-azul-claro);
    text-shadow: 0px 0px 5px var(--neon-azul-claro);
    text-decoration: none;
    font-size: 30px;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: var(--verde-azulado-claro);
      height: 64px;
      width: 64px;
      margin-right: 20px;
      border-radius: 50%;
      
    }
    .logo-text{
      flex: 1;
      
    }
  }

  nav {
    display: flex;
    align-items: center;
    
    ul {
      display: flex;
      list-style-type: none;
      gap: 10px;
      
      li {
        display: inline-block;
        
        a{
          display: inline-block;
          padding: 10px 20px;
          color: var(--neon-azul-claro);
          text-shadow: 0px 0px 5px var(--neon-azul-claro);
          font-weight: bold;
          border-radius: 10px;
          text-decoration: none;
          transition: ease 0.3s all;
          &:hover{
            background-color: var(--neon-azul-claro-alpha);
            color: var(--neon-azul-claro);
            font-weight: bold;
            border-radius: 10px;
            text-decoration: none;
            box-shadow: 0px 0px 10px var(--neon-azul-claro);
          }
        }
      }
    }
    .mobile-toggle {
      display: none;
      color: var(--verde-azulado-claro);
      padding: 10px;
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover{
          background-color: var(--verde-azulado-claro);
          color: var(--verde-cardenal);
          border-radius: 10px;
          text-decoration: none;
        }
      }
    }
  }


  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    nav {
      margin-top: 10px;
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.button {
  display: inline-block;
  padding: 10px 30px;
  color: var(--neon-azul-claro);
  border-radius: 10px;
  transition: ease 0.3s all;

  &:hover {
    background-color: var(--neon-azul-claro-alpha);
    color: var(--neon-azul-claro);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px var(--neon-azul-claro);
    
  }
  &.white {
    background-color: var(--neon-lila-alpha);
    color: var(--neon-lila);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px var(--neon-lila);
    &:hover {
      background-color: var(--neon-lila-alpha2);
      text-decoration: none;
    }
  }
  &.black {
    background-color: var(--neon-lila-alpha);
    color: var(--neon-lila);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 10px var(--neon-lila);
    &:hover {
      background-color: var(--neon-lila-alpha2);
      text-decoration: none;
    }
  }
}

h1 {
  font-family: 'Jura', sans-serif;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--neon-lila);
  text-shadow: 3px 3px 3px black;
  small {
    display: block;
    font-weight: 100;
    color: white;

  }
  @media (max-width: 1024px){
    font-size: 48px;
  }
}
.hero {
  display: flex;
  
  @media (max-width: 1024px){
    flex-direction: column;
  }
  margin-top: 40px;
  
  color: white;
  text-shadow: 3px 3px 3px black;

  .hero-blue {
    flex: 1;
    background: linear-gradient(135deg, rgba(112, 234, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 30px;
    border: var(--neon-azul-claro) solid 4px;
    box-shadow: 0px 0px 10px var(--neon-azul-claro);
    padding: 50px;
    display: flex;
    justify-content: column;
    font-size: 30px;
    p{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    span {
      font-size: 25px;
      @media (max-width: 768px){
        display: none;
      }
    }
    .call-to-action {
      padding-top: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      padding-top: 40px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
    
  }
  .hero-yellow{
    flex: 1;
      background: linear-gradient(135deg, rgba(112, 234, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 30px;
    border: var(--neon-azul-claro) solid 4px;
    box-shadow: 0px 0px 10px var(--neon-azul-claro);
    padding: 30px;
    display: flex;
    justify-content: center;
    max-width: 400px;
    img {
      margin-top: -30px;
      margin-bottom: -30px;
      border-radius: 30px;
      
    }
  }
}

.cambio-img{
  position: relative;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
}

.img1 {
  filter: drop-shadow(0 0px 10px var(--neon-azul-claro));
  opacity: .75;
}
.img2 {
  opacity: 0;
}

.cambio-img:hover .img2 {
  opacity: 1;
}

.cambio-img:hover .img1 {
  opacity: 0;
}

.logos {
  background: linear-gradient(135deg, rgba(112, 234, 255, 0.3), rgba(255, 255, 255, 0));
  border-radius: 30px;
  border: var(--neon-azul-claro) solid 4px;
  box-shadow: 0px 0px 10px var(--neon-azul-claro);
  padding: 30px 0px;

  .marquee {

    overflow: hidden;
    position: relative;
    .track {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      a{
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.logo-pair {
  position: relative;
  display: inline-block;
  width: 150px; /* Ajusta según tamaño real */
  height: 150px;
}

.logo-pair img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.logo-pair .img-back {
  z-index: 0;
  opacity: 0;
}

.logo-pair .img-front {
  filter: drop-shadow(0 0px 10px var(--neon-azul-claro));
  z-index: 1;
  opacity: .75;
}

.logo-pair:hover .img-front {
  opacity: 0;
}

.logo-pair:hover .img-back {
  opacity: 1;
}


h2 {
  font-size: 64px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  color: var(--neon-lila);
  padding: 30px;
  text-shadow: 0px 0px 10px var(--neon-lila);

  small {
    display: block;
    font-weight: 100;
    font-size: 0.5em;
    color: var(--neon-azul-claro);
    text-shadow: 0px 0px 10px var(--neon-azul-claro);
  }
  @media (max-width: 1024px){
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--neon-lila);
  text-transform: uppercase;
    text-shadow: 3px 3px 3px black;

}

.skills {
  .holder-blue {
    background: linear-gradient(135deg, rgba(112, 234, 255, 0.3), rgba(255, 255, 255, 0));
    border-radius: 30px;
    border: var(--neon-azul-claro) solid 4px;
    box-shadow: 0px 0px 10px var(--neon-azul-claro);
    padding: 30px;
    display: flex;
      text-shadow: 3px 3px 3px black;

    @media (max-width: 1024px){
      flex-direction: column;
    }
    .left-column {
      flex: 1;
      ul {
        list-style-type: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 20px;
        font-size: 20px;
        li {
          display: inline-block;
          padding: 15px 25px;
          margin-bottom: 10px;
          background-color: var(--neon-azul-claro-alpha);
          color: var(--neon-azul-claro);
          font-weight: bold;
          border-radius: 10px;
          text-decoration: none;
          box-shadow: 0px 0px 10px var(--neon-azul-claro);
        }
      }
    }

    .right-column {
      flex: 1;
      color: white;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

.work-experience {
    text-shadow: 3px 3px 3px black;

  .jobs {
    display: flex;
    gap: 30px;
    @media (max-width: 1024px){
      flex-direction: column;
    }
    article {
      background: linear-gradient(135deg, rgba(112, 234, 255, 0.3), rgba(255, 255, 255, 0));
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0px 0px 10px var(--neon-azul-claro);
      border: var(--neon-azul-claro) solid 4px;
      flex: 1;
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
      div {
        font-weight: 600;
        margin-bottom: 5px;
        color: var(--neon-azul-claro);
      }
      p {
        margin-bottom: 10px;
        color: var(--neon-azul-claro);
      }
      figure {
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 0px 10px var(--neon-azul-claro);
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          transition: ease 0.3s all;
        }
        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.6);
          color: var(--neon-azulado-claro);
          text-align: center;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          transition: ease 0.3s all;
        }
        &:hover {
          figcaption {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.img-pair img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
  
}

.img-pair .img-back1 {
  z-index: 0;
  opacity: 0;
}

.img-pair .img-front1 {
  filter: drop-shadow(0 0px 10px var(--neon-azul-claro));
  z-index: 1;
  opacity: .75;
}

.img-pair:hover .img-front1 {
  opacity: 0;
}

.img-pair:hover .img-back1 {
  opacity: 1;
}

.bento {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  .bento-item {
    width: 49%;
    aspect-ratio: 16 / 9; 
    position: relative;
    border-radius: 15px;
    border: 4px solid var(--neon-azul-claro);
    box-shadow: 0px 0px 10px var(--neon-azul-claro);
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      transition: opacity 0.3s ease;
    }

    figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0,0,0,0.6);
          color: var(--neon-azulado-claro);
          text-align: center;
          font-size: 30px;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          transition: ease 0.3s all;
          font-weight: bold;
        }
        &:hover {
          figcaption {
            opacity: 1;
            visibility: visible;
          }
        }

    .img-back {
      z-index: 0;
      opacity: 0;
    }

    .img-front {
      z-index: 1;
      opacity: 0.75;
    }

    &:hover .img-front {
      opacity: 0;
    }
    &:hover .img-back {
      opacity: 1;
    }
  }

  .bento-mini-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    aspect-ratio: 1 / 1; 
  }

  .bento-mini-item {
    width: 43.5%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .bento-item {
      width: 90%;
      aspect-ratio: 1 / 1;
    }

    .bento-item.mini {
      width: 90%;
    }
  }
}

